base-font-size = 22px

def-bg-color     = hsla(0, 0%, 96%, 1)
def-color        = hsla(216, 2%, 59%, 1)
def-bold-color   = hsla(270, 7%, 65%, 1)
def-em-color     = hsla(220, 2%, 35%, 1)
def-cursor-color = hsla(220, 100%, 70%, 1)
def-link-color   = hsla(360, 100%, 70%, 1)
def-font-size    = 15px

body 
  background def-bg-color

.Skrif.theme-default
  .CodeMirror
    background def-bg-color
    font-family: "Ubuntu Mono", "Monospace"
    color def-color
    font-size rem(def-font-size)

  .cm-header
    color def-bold-color
    font-size rem(22px)
    font-weight 700

  .cm-list, .cm-bold, .cm-em, .cm-variable-2
    color def-em-color
   
   .cm-link
    text-decoration underline
    color def-link-color

  .CodeMirror-cursor
    border-left-color def-cursor-color
    border-size 2px
